<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mis Actividades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card-title style="margin-top: 5px; padding-left: 5px;">Necesidades / Intereses</ion-card-title>
      <ion-button>
        <ion-icon name="pizza"></ion-icon>
        <ion-label>Comida</ion-label>
      </ion-button>
      <ion-button [routerLink]="['/activity-partner/', 'Caminar']">
          <ion-icon name="walk"></ion-icon>
          <ion-label>Caminar</ion-label>
      </ion-button>
      <ion-button>
          <ion-icon name="microphone"></ion-icon>
          <ion-label>Karaoke</ion-label>
      </ion-button>
      <ion-button>
          <ion-icon name="basketball"></ion-icon>
          <ion-label>Deportes</ion-label>
      </ion-button>

</ion-content>
