<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mis abuelos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>
    <ion-card *ngFor="let grandpa of grandpas" [routerLink]="['/detail-grandpa/', grandpa.id]">
      <ion-item>
        <ion-avatar slot="start">
            <img src="{{ grandpa.image }}">
        </ion-avatar>
        <ion-label>
          <h2>{{ grandpa.name }}</h2>
          <p>{{ grandpa.description }}</p>
        </ion-label>
        </ion-item>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
