<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Perfil de Abuelo
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
      <ion-item (click)="testClick()">
          <ion-avatar slot="start">
            <img src="{{ grandpa.image }}">
          </ion-avatar>
          <ion-label>
              {{ grandpa.name }}
          </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            Edad: 80
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Fecha de Nacimiento: 12/12/1912
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Reside con: Solo
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Estado de salud<br>
            <ul>
              <li>Diabétes</li>
              <li>Alzheimer</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="separator"></div>

      <ion-card-title style="margin-top: 5px; padding-left: 5px;">Necesidades / Intereses</ion-card-title>
      <ion-button [routerLink]="['/activities-search/', 'Comida']">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>Comida</ion-label>
      </ion-button>
      <ion-button [routerLink]="['/activities-search/', 'Caminar']">
          <ion-icon name="walk"></ion-icon>
          <ion-label>Caminar</ion-label>
      </ion-button>
      <ion-button [routerLink]="['/activities-search/', 'Karaoke']">
          <ion-icon name="microphone"></ion-icon>
          <ion-label>Karaoke</ion-label>
      </ion-button>
      <ion-button [routerLink]="['/activities-search/', 'Deportes']">
          <ion-icon name="basketball"></ion-icon>
          <ion-label>Deportes</ion-label>
      </ion-button>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
